.container {
  margin-top: 4rem;
}

/* Centers content on page */
.row {
  justify-content: center;
}

ul,
ol {
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

/* color and style for all buttons */
button, .submitScore {
  background-color: #7404b5;
  color: white;
  border-radius: 5px !important;
}

button:hover {
  box-shadow: 2px 5px 10px black;
}

.startQuizBtn {
  color: white;
  padding: 15px;
}

/* keeps 'Start Quiz' button text color from turning blue on hover */
.startQuizBtn:hover {
  text-decoration: none;
  color: white;
}

#finishedHeader > li {
  font-size: 1rem;
  font-weight: 400;
}

/* centers answer selection feedback text */
.checkAnswer {
  text-align: center;
  font-weight: 600;
}

/* Setting width of table */
table {
  min-width: 230px;
}
/* outside border for table */
table tr {
  border: 1px solid black;
}

/* inner table borders */
th,
td {
  border-right: 1px solid black;
  padding: 5px;
}

/* Add red color to incorrect selections */
.incorrect-answer {
  color: red;
}

/* Add green color to correct selections */
.correct-answer {
  color: green;
}
